fastapi
uvicorn[standard]
sqlalchemy
pymysql
geoalchemy2
networkx
pydantic[email]
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
python-multipart
lightgbm
scikit-learn
pandas
geopandas
shapely
fpdf
apscheduler